<main>
  <h2 class="logo">Book<img src="./../assets/logo.svg" />arks</h2>
  <section class="body">
    <div class="container">
      <div class="title">
        <div class="overlay"></div>
        <h2>Vector</h2>
      </div>
      @for (data of vectorLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Font</h2>
        <div class="overlay"></div>
      </div>
      @for (data of fontLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Css Resources</h2>
        <div class="overlay"></div>
      </div>
      @for (data of cssLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Css Links</h2>
        <div class="overlay"></div>
      </div>
      @for (data of cssLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Reference Links</h2>
        <div class="overlay"></div>
      </div>
      @for (data of refLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Color & Gradient</h2>
        <div class="overlay"></div>
      </div>
      @for (data of colorLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Pictures</h2>
        <div class="overlay"></div>
      </div>
      @for (data of pictursLink; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Mockups</h2>
        <div class="overlay"></div>
      </div>
      @for (data of mockupLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Editor</h2>
        <div class="overlay"></div>
      </div>
      @for (data of editorLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Drawing</h2>
        <div class="overlay"></div>
      </div>
      @for (data of drawingLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Hosting</h2>
        <div class="overlay"></div>
      </div>
      @for (data of builderLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Learn</h2>
        <div class="overlay"></div>
      </div>
      @for (data of builderLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>

    <div class="container">
      <div class="title">
        <h2>Learn</h2>
        <div class="overlay"></div>
      </div>
      @for (data of aiLinks; track $index) {
      <div class="card-component">
        <img [src]="data.img" />
        <div>
          <a [href]="data.link" target="_blank">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
            <small>{{ data.link | truncate : 3 : 20 }}</small>
          </a>
        </div>
      </div>
      }
    </div>
  </section>
</main>
